<label>
    Price Range of products<br>
    Update ranges to view as per request
</label>
<input type="number" [(ngModel)]="from">
<input type="number" [(ngModel)]="to">

<button (click)="search()">Search</button>
<div *ngIf="searched">
We have Number of products based on your search {{noOfProducts}}
</div>
<table>
    <tr>
        <td>
            Id
        </td>
        <td>Name</td>
        <td>
            Description
        </td>
        <td>
            Price
        </td>
        <td>
            Quantity
        </td>
    </tr>
    
    
        <tr *ngFor="let row of this.data" style="color: aqua;" (click)="canShowChild(row)"> 
            

            
            <td>
                {{row.id}}
            </td>
            <td>
                {{row.name}}
            </td>
            <td>
                {{row.description}}
            </td>
            <td>
                {{row.price}}
            </td>
            <td>
                {{row.quantity}}
            </td>
            

        </tr>
        
    
    
    
    </table>



    <app-product [product]="passToChild" *ngIf="this.productSerice.canShowChild"></app-product>
